@import "~bootstrap/scss/bootstrap";

$grid-breakpoints: (
  xs: 300px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.img{
  width: 7rem;
}

Button:focus,
Button:active{
    box-shadow:none !important;
    outline:0px !important;
}

.note{
  background-color: rgba(195, 195, 195, 0.151);
  min-height: 80px;
  align-items: center;
  border-radius: 10px;
}


